[user]
	name = foxfirecodes
	email = foxfirecodes@gmail.com
[core]
	autocrlf = false
	pager = delta
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[rebase]
	autostash = true
[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
[diff]
	algorithm = histogram
	colorMoved = default
[delta]
  navigate = true
  pager = less -S
[interactive]
  diffFilter = delta --color-only

[includeIf "gitdir:~/.local/share/nvim/plugged/"]
	path = ~/.config/git/env/plugged.gitconfig
[alias]
	sync = town sync
	append = town append
	compress = town compress
	contribute = town contribute
	diff-parent = town diff-parent
	down = town down
	hack = town hack
	delete = town delete
	observe = town observe
	park = town park
	prepend = town prepend
	propose = town propose
	rename = town rename
	repo = town repo
	set-parent = town set-parent
	ship = town ship
	up = town up
[git-town]
	sync-feature-strategy = rebase
	sync-tags = false
