[user]
	name = foxfirecodes
	email = foxfirecodes@gmail.com
[core]
	autocrlf = false
	pager = delta
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[rebase]
	autostash = true
[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
[diff]
	algorithm = histogram
	colorMoved = default
[delta]
  navigate = true
  pager = less -S
[interactive]
  diffFilter = delta --color-only

[includeIf "gitdir:~/.local/share/nvim/plugged/"]
	path = ~/.config/git/env/plugged.gitconfig
